@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Open+Sans&family=Quicksand&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* BASE STYLES */
body {
  background-color: #e8f0f7;
  font-family: 'Inter', sans-serif;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

/* NORMAL STYLES */
.header {
  background-color: rgb(19, 22, 26);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.logo {
}

.logo__img {
  height: 20px;
  display: block;
}

.nav {

}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.nav__item {

}

.nav__link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  transition: all 0.4s;
  position: relative;
}

.nav__link:hover,
.nav__link:focus {
  color: rgba(255, 255, 255, 1);
}

.nav__link::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: rgb(0, 183, 255);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: all 0.2s;
  opacity: 0;
  pointer-events: none;
}

.nav__link:hover::after {
  opacity: 1;
}

.btn {
  color: #fff;
  padding: 7px 18px;
  border-radius: 1000px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.2s;
}

.btn:hover {
  background-color: rgb(28, 128, 228);
}

.footer{
  margin-top: auto;
  background-color: rgb(19, 22, 26);
  color: white;
  width: 100%;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.footer__list {
  display: flex;
  column-gap: 40px;
}

.footer__item {

}

.footer__link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  transition: all 0.4s;
  position: relative;
}




main{
  flex-grow: 1;
  min-height:max-content;
}























/* MEDIA QUERIES */
@media (max-width: 650px) {
  #root{
    padding-top: 116px;
  }
  .header__content {
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    row-gap: 18px;
  }

  .nav__list {
    column-gap: 20px;
  }
}